.calculated {
    color: darkslategray;
}

.played {
    background-color: whitesmoke;
}

.active {
    background-color: mediumpurple;
}

.duration {
    text-align: right;
}



div.controls {
    position: sticky;
    display: flex;
    top: 0;
    background-color: white;
}

div.controls div.main {
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 5px black;
    flex-grow: 1;
    width: 100%
}

div.controls .PlayerRSWP {
    width: 300px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 5px black;
}


.times {
    display: flex;
    justify-content: space-between;
}