.calculated {
    color: darkslategray;
}

.played {
    background-color: whitesmoke;
}

.active {
    background-color: mediumpurple;
}

.duration {
    text-align: right;
}

.controls {
    position: fixed;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}